<%- include('head',{ pageTitle: 'Error 500' }) %>
</head>
<body>
    <%- include('header') %>
    <main>
        <h1>Something went wrong on our end</h1>
        <p>We are working to fix it on our end. Please try again after some time</p>
        <p><a class="btn" href="">Back to safety!</a></p>

        <!--action controls where the request is sent, Method controls what kind of request is sent-->
        
    </main>
<%- include('footer') %>

<!--name in the input element is required to later extract the data from that field-->
<!--minlength is used to set a minimum length that a password must have-->