<%- include('../includes/head') %>
<link rel="stylesheet" href="/styles/landing-styles.css">
</head>
<body>
    <%- include('../includes/header') %>

    <main>
        <section id="hero-container">
            <div id="hero-text">
                <img id="hero-photo" src="images/hero-photo.png" alt="">
                <h2 >Taskify helps you get more done</h2>
                <p>Taskify is a task management platform that brings together all your work in one place to help you focus on what matters and get more done</p>
            </div>
        </section>

        <section id="why">
            <h2>Why Taskify</h2>
            <p>Taskify is more than just a to-do list. Its a flexible platform that adapts to how you work</p>
            <div id="features">
                <div><img src="/images/feature-1.png" alt="">
                <h4>Plan and track work</h4>
                <p>Set priorities and deadlines. Get an overview of your team's capacity and make sure everyone is on the same page </p>
            </div>
                <div><img src="/images/feature-2.png" alt="">
                    <h4>Connect your Todos</h4>
                <p>Bring emails, documents, spreadsheets tools into Taskify or customise your own tools</p></div>
                <div><img src="/images/feature-3.png" alt="">
                    <h4>Automate your workflows</h4>
                <p>Use automation to reduce your workflows</p></div>
                <div><img src="/images/feature-4.png" alt="">
                    <h4>Get insights into your work</h4>
                <p>Get an overview of your team's capacity and make sure everyone is on the same page</p></div>
            </div>
        </section>

            <div id="bottom-container">
                <h1>Ready to get started</h1>
                <a class="btn btn-alt" href="/signup">Sign Up</a>
            </div>
        
    </main>
    
    

<%- include('../includes/footer') %>
